/* CSS Variables */
:root {
  --bg: #182CD4;
  --fg: #EEEEEE; 
  --mg: #3A3F47;
  --focus: #C4FA6F;
}

body {
	background-color: var(--bg);
	color: var(--mg);
    font-family: 'Manrope', sans-serif;
}
h1 {
	font-weight: 700;
	font-size: 4em;
	color: var(--focus);
}
h3 {
	width: 4em;
	top: 0;
	left: 0;
	font-weight: 700;
	font-size: 1.25em;
	white-space: nowrap;
}

header {
	display: flex;
	justify-content: center;
}

button {
	width: 4.15rem;
	height: 4.15rem;
	border: none;
	border-radius: 0.2em;
  	transition-duration: 0.2s;
}
/* When button is pressed, it becomes focused and the style is being applied accordingly */
.focus{
	background-color: var(--bg);
	width: 5.15rem;
	color: var(--focus);
	font-weight: 700;
  	transition-duration: 0.2s;
}
/* Styling for the FX buttons on the lefthand side */
#fx-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* Once an FX button is being pressed, the FX panel gets hidden */
.toggle-div{
	display: none;
}
/* Styling of the FX panel once an FX button is pressed/focused */
.show{
	display: flex;
	padding-left: 2.5em;
	justify-content: flex-start;
	flex-direction: column;
}
/* Styling of the playback button */
.playback-btn{
	display: flex;
	margin-left: 4.65em;
	padding: 0.15em; 
	justify-content: flex-start;
	opacity: 0.9;
}
#play {
	color: var(--focus);
	font-size: 2em;
	background-color: var(--bg);
}
.playback-btn:hover{
	opacity: 1;
}

/* Main container for the interface */
.interface {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--bg);
	padding-top: 3em;
	padding-bottom: 3em;
	/* border-left: 6px solid var(--focus); */
}

/* FX section container */
#interface-fx{
	display: flex;
	justify-content: space-between;
	background-color: var(--fg);
	border-radius: 1em;
	padding: 1em;
}
/* Styling for the master FX sliders to the right */
.sliderInterface {
	right: 0;
	padding-left: 1em;
	padding-right: 1em;
	background-color: var(--fg);
	border-radius: 1em;
}

/* Styling for the name of each hit left to the actual sequence steps. */
.kick > h3, .synth > h3, .oh > h3, .ch > h3, .snare > h3, .clap > h3{
	color: white;
	font-weight: 400;
}
/* Horizontal flex positioning for the step sequences */
.synth, .kick, .oh, .ch, .snare, .clap {
	display: flex;
	align-items: center;
}
/* Input have a slight decrease in opacity so that the hover state indicates focus/contrast */
input{
	opacity: 0.9;
}
/* Step sequences that are not on the beat are slightly inverted in terms of color */
input[type="checkbox"]
{
	filter: invert(10%);
}
/* Step sequences that are ON the beat are brighter */
input[type="checkbox"]:nth-child(2), input[type="checkbox"]:nth-child(6), input[type="checkbox"]:nth-child(10), input[type="checkbox"]:nth-child(14) {
	filter: invert(0%);
	/* color: black; */
}
/* Styling for the checkboxes/step sequences */
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0.15em;
  font: inherit;
  color: currentColor;
  width: 4.15em;
  height: 4.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.076em);
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 15%;
}
input[type="checkbox"]::before {
  content: "";
  width: 3.65em;
  height: 3.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0em 1em var(--bg);
  /* border-radius: 15%; */
}
input[type="checkbox"]:checked::before {
  transform: scale(0.9);
}
input[type="checkbox"].highlight::before{
  box-shadow: inset 0em 1em var(--focus);
}

/* Styling for the sliders */
input[type="range"]{
	opacity: 0.8;
}
input[type="range"]:hover{
	opacity: 1;
}
input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 25px;
  background: var(--focus);
  cursor: pointer;
  /* border: none; */
  border-radius: 0%;
  border-color: var(--focus);
  border-width: 0.2em;
}



