:root {
  --bg: #1f1f1f;
  --fg: #353535; 
  --mg: #2c2c2c;
  --focus: blue;
}

body {
	background-color: var(--bg);
	color: white;
    font-family: 'Manrope', sans-serif;
}
h1 {
	font-weight: 700;
	font-size: 4em;
}
h3 {
	width: 4em;
	top: 0;
	left: 0;
	font-weight: 400;
}

header {
	display: flex;
	justify-content: center;
}

button {
	width: 4.15rem;
	height: 4.15rem;
	border: none;
	border-radius: 0.2em;
	/* background-color: beige; */
}
.focus{
	background-color: var(--focus);
	color: white;
}

#interface-fx{
	display: flex;
	justify-content: space-between;
	background-color: var(--fg);
	border-radius: 1em;
	padding: 1em;
}
#fx-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.toggle-div{
	display: none;
}

.show{
	display: flex;
	padding-left: 2.5em;
	/* align-items: flex-end; */
	justify-content: flex-start;
	flex-direction: column;
}

.playback-btn{
	display: flex;
	margin-left: 4.65em;
	padding: 0.15em; 
	justify-content: flex-start;
	opacity: 0.9;
}
.playback-btn:hover{
	opacity: 1;
}

.interface {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--mg);
	padding-top: 3em;
	padding-bottom: 3em;
	border-radius: 1em;
}

input{
	filter: invert(20%);
}

input[type="checkbox"]:nth-child(2), input[type="checkbox"]:nth-child(6), input[type="checkbox"]:nth-child(10), input[type="checkbox"]:nth-child(14) {
	filter: invert(0%);
	/* color: black; */
}

.sliderInterface {
	right: 0;
	padding-left: 1em;
	padding-right: 1em;
	background-color: var(--fg);
	border-radius: 1em;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0.15em;
  font: inherit;
  color: currentColor;
  width: 4.15em;
  height: 4.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.076em);
  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "";
  width: 3.65em;
  height: 3.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0em 1.5em black;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"].highlight::before{
  box-shadow: inset 0em 1em var(--focus);
}

input[type="range"]{
	opacity: 0.8;
}
input[type="range"]:hover{
	opacity: 1;
}
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background: var(--bg);
  cursor: pointer;
  /* border: none; */
  border-radius: 0%;
  border-color: black;
  border-width: 0.3em;
}

.synth_step {
  top: 0;
  left: 0;
  height: 25px;
  width: 20px;
  background-color: #eee;
}

.kick_step {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.oh_step {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.ch_step {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.snare_step {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.clap_step {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.synth{
	display: flex;
	align-items: center;
}
.kick{
	display: flex;
	align-items: center;
}
.oh{
	display: flex;
	align-items: center;
}
.ch{
	display: flex;
	align-items: center;
}
.snare{
	display: flex;
	align-items: center;
}
.clap{
	display: flex;
	align-items: center;
}


